<h1>アカウント詳細ページ</h1>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to t('common.edit'), edit_user_path(current_user.id), id: "edit-user" %>｜
<%= link_to t('common.destroy'), @user, method: :delete, id: "destroy-user", data: { confirm: t('common.confirm_destroy') } %>